/* App.css */

.app {
  width: auto;
  height: 100vh;
  background-color: #282c34;
  text-align: center;
  color: white; /* Set text color to white for better visibility */
}

.app-navbar {
  display: flex;
  justify-content: space-between; /* Align to the left and space other elements evenly */
  background-color: #333;
  padding: 10px 20px; /* Add some padding for better appearance */
}

.app-navbar ul {
  list-style: none;
  display: flex;
  align-items: center; /* Vertically center the items */
}

.app-navbar a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.app-header {
  padding: 20px;
}

.app-main {
  padding: 20px;
}

.app-skills {
  margin-top: 20px;
}

.app-footer {
  margin-top: 20px;
}

#NavbarName {
  font-size: 24px;
  padding-right: 10vw;
}