/* App.css */

.app {
  width: auto;
  min-height: 100vh;
  background-color: #282c34;
  text-align: center;
  color: white;
}

.app-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;
}

.app-navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.app-navbar li {
  width: 100%;
  margin-bottom: 10px;
}

.app-navbar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block; /* Ensure full width for the anchor tags */
}

#NavbarName {
  font-size: 24px;
  margin-right: 20px;
  white-space: nowrap;
}

.app-header,
.app-main,
.app-skills,
.app-footer {
  padding: 20px;
}